<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANGER!</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: black;
        }

        img {
            border: 1rem solid white;
        }
    </style>

</head>

<body><img src="danger.jpg" alt="DANGER!"></body>

</html>
